<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars fa-sm"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search fa-xs"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
				<a href="#"><button>Subscribe Now</button></a>
			</li>
			<li>
				<a href="#"><button>Log In</button></a>
			</li>
			<li>
				<a href="#"><i class="fas fa-cog"></i></a>
			</li>
		</ul>
	</nav>
</header>